[Unit]
Description=Downloadtool for One-Click-Hoster written in python.
After=network.target

[Service]
ExecStart=/usr/bin/python /usr/share/pyload/pyLoadCore.py
User=pyload

[Install]
WantedBy=multi-user.target

